@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

.underLine{
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
}

header {
    width: 100%;
    padding: 20px;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.logoContainer {
    display: flex;
    text-align: center;
}

.mainLogo {
    height: 1.5rem;
    padding-bottom: .25rem;
}

.logoDark {
    display: none;
}

.logoLight {
    display: block;
}


nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

nav ul li{
    height: fit-content;
    font-weight: 500;
}

nav ul li a:hover {
    color: #FFC515;
    filter: drop-shadow(1px 1px 10px #FFC515);
}


nav a {
    text-decoration: none;
    color: #333;
    transition: all 200ms;
}

/* Seccion Presentacion */

.hero {
    background-image: url(../assets/img/Theme_White.jpg);
    background-position: center center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
}

.hero h1 {
    font-size: 4rem;
    color: #000;
    text-align: start;
}

.hero .highlight {
    color: #FFC515;
}

.highlight {
    color: #FFC515;
    transition-duration: 200ms;
    transition-property: color;
}

.blured {
    transition-duration: 200ms;
    transition-property: filter;
}

.blured:hover {
    filter: blur(2px);
    
}

.goldShadow {
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.goldShadow:hover {
    filter: drop-shadow(1px 1px 10px #FFC515);
}

.shadow {
    transition: all 200ms;
}

.shadow:hover {
    filter: drop-shadow(-10px 10px 5px rgb(223, 223, 223));
}

.sloganContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero .slogan {
    font-size: 4rem;
    color: #555;
    text-align: start;
    font-weight: 600;
}

.isoAvalan {
    height: 3.5rem;
}

.isoAvalanContainer {
    padding-top: 20px;
    height: fit-content;
    justify-content: center;
}

/* Boton CTA */

.ctaButton {
    background-color: #FFC515;
    color: #fff;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    transition-duration: 0.3s;
    transition-property: filter;
}

a {
    text-decoration: none;
    color: black;
}





/* ABOUT SECTION */

.aboutSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50rem;
    gap: 3rem;
    padding-top: 10rem;
    background-color: #f5f5f5;
}

.aboutTitle {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
}

.aboutText {
    font-size: 24px;
    width: 50rem;
    text-align: center;
    align-self: center;
}

/* SERVICIOS SECCION */

.servicesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
}

.servicesSection h2 {
    font-size: 3rem;
    padding: 5rem 0;
    padding-bottom: 7rem;
}

.serviceCardContainer {
    display: flex;
    flex-direction: row;
    padding: 3rem 0;
    gap: 5rem;
}

.serviceTitle {
    padding: .25rem 0;
    padding-bottom: 1rem;
}

.serviceCard {
    width: 30rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 20px;
    transition: all 200ms;
}

.serviceCard:hover {
    scale: 1.05;
}

.serviceCard p {
    text-align: left;
    padding: .5rem;
    font-weight: 500;
}

/* FOOTER */

footer {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    gap: 2rem;
}

.footer-logo img {
    height: 1rem;
}

.footer-logo {
    display: flex;
    text-align: center;
    justify-content: center;
    height: fit-content;
}

.instagramBtn {
    color: black;
}

.tagline {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #666;
}

/* MEDIA QUERYS */

/* Preferencias de color */

@media (prefers-color-scheme: dark) {

    .logoLight {
        display: none;
    }

    .logoDark {
        display: block;
    }

    .shadow:hover {
        filter: drop-shadow(-10px 10px 5px black);
    }

    body {
        background-color: rgb(17, 17, 17);
    }
    
    nav a {
        text-decoration: none;
        color: white;
        transition: all 200ms;
    }

    /* Seccion Presentacion */

    .hero{
    background-image: url(../assets/img/Theme_Black.jpg);
    }

    .hero h1 {
        font-size: 4rem;
        color: #ffffff;
        text-align: start;
    }

    .hero .slogan {
        font-size: 4rem;
        color: #bcbcbc;
        text-align: start;
        font-weight: 600
        ;
    }

    /* ABOUT SECTION */

    .aboutSection {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 50rem;
        gap: 3rem;
        padding-top: 10rem;
        background-color: #141414;
    }

    .aboutTitle {
        color: white;
        text-align: center;
        font-size: 3rem;
        margin-bottom: 5rem;
    }

    .aboutText {
        color: white;
        font-size: 24px;
        width: 50rem;
        text-align: center;
        align-self: center;
    }

    /* SERVICE SECTION */

    .servicesSection h2 {
        color: white;
        font-size: 3rem;
        padding: 5rem 0;
        padding-bottom: 7rem;
    }

    .serviceCard {
        width: 30rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #1f1f1f;
        padding: 1rem;
        border-radius: 20px;
    }

    .serviceCard p {
        color: white;
        text-align: left;
        padding: .5rem;
        font-weight: 500;
    }

    /* CONTACT SECTION */



    /* FOOTER */

    footer {
        padding: 20px;
        text-align: center;
        background-color: #1f1f1f;
    }

    .instagramBtn {
        color: white;
    }

}

/* Tamanos de pantalla */

@media 
(max-width: 1630px) {

    /* Inicio */

    .hero h1 {
        font-size: 3rem;
    }

    .hero .slogan {
        font-size: 3rem;
    }

    .isoAvalanContainer{
        padding-top: 1rem;
    }

    .isoAvalan{
        width: 2rem;
        height: 2rem;
    }

    .aboutText {
        width: 40rem;
    }

    .serviceCard {
        width: 25rem;
    }


    /* ABOUT SECTION */

    .aboutTitle {
        font-size: 2.5rem;
    }

    /* Services Section */

    .serviceCardContainer{
        flex-direction: column;
    }
}
@media (max-width: 630px){
    .hero{
        padding: 0 2rem;
        font-size: 2rem;
    }

    .hero .slogan {
        font-size: 2rem;
        text-wrap: nowrap;
    }

    .isoAvalanContainer{
        padding-top: 1rem;
    }

    .isoAvalan{
        width: 2rem;
        height: 2rem;
    }
    
}